@media screen and (min-width: 769px) {
    .header .header__nav--list .header__nav--item:hover .sub__menu--list {
        opacity: 1;
        visibility: visible;
    }

    .header .header__nav--list .header__nav--item:hover > span,
    .header .header__nav--list .header__nav--item:hover > a span {
        color: var(--main-color);
    }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
    .mv .mv__txt {
        max-width: 650px;
    }

    .mv .mv__txt .mv__txt--sub-ttl {
        font-size: 3.5vw;
        padding: 10px;
    }

    .mv .mv__txt .mv__txt--ttl {
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    .inner {
        padding: 0 10px;
    }

    .h__info {
        padding: 5px 0;
    }

    .header__fix {
        height: 67px;
    }

    .header {
        
    }

    .h__info .h__info--cnt {
        justify-content: flex-end;
    }

    .h__info .h__info--list {
        display: none;
    }

    .header .header__nav {
        position: absolute;
        top: 67px;
        left: 100%;
        width: 100%;
        height: calc(100vh - 67px);
        background: var(--sub-color);
        overflow-y: scroll;
        border-top: 1px solid var(--border-table-color);
        transition: var(--transition-default);
    }

    .header .header__nav.show {
        left: 0;
    }

    .header .header__nav--list {
        display: block;
    }

    .header .header__nav--list .header__nav--item {
        border-bottom: 1px solid var(--border-table-color);
        background: var(--sub-color);
    }

    .header .header__nav--list .header__nav--item span {
        padding: 15px;
        color: var(--white-color);
    }

    .header .header__nav--list .header__nav--item.active > span {
        color: var(--white-color);
    }

    .header .header__nav--list .header__nav--item.sub__menu::before {
        bottom: unset;
        left: unset;
        top: 20px;
        right: 20px;
        border-color: var(--white-color);
    }

    .header .header__nav--list .header__nav--item.sub__menu::after {
        display: none;
    }

    .header .sub__menu--list {
        position: unset;
        transform: unset;
        display: none;
        opacity: 1;
        visibility: visible;
        transition: unset;
    }

    .header .sub__menu--list .sub__menu--item
    .header .sub__menu--list .sub__menu--item {
        display: block;
        border: none;
        position: relative;
    }

    .header .sub__menu--list .sub__menu--item::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent var(--main-color);
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .header .sub__menu--list .sub__menu--item a {
        padding: 0 15px;
    }

    .header .sub__menu--list .sub__menu--item span {
        color: var(--black-color);
    }

    .icon_menu {
        display: inline-block;
        width: 30px;
        text-align: center;
        position: relative;
        height: 20px;
        cursor: pointer;
    }

    .icon_menu span {
        display: block;
        background: var(--black-color);
        height: 3px;
        position: relative;
        margin: 1px auto 0;
    }

    .icon_menu span:after, .icon_menu span:before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        -webkit-transition: var(--transition-default);
        -moz-transition: var(--transition-default);
        -o-transition: var(--transition-default);
        transition: var(--transition-default);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .icon_menu span:before {
        top: 8px;
    }

    .icon_menu span:after {
        bottom: -16px;
    }

    .icon_menu.active span {
        background: transparent;
    }

    .icon_menu.active span:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 10px;
    }

    .icon_menu.active span:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: -10px;
    }

    .mv {
        margin-top: 67px;
    }

    .mv .mv__txt {
        max-width: unset;
        width: unset;
    }

    .mv .mv__txt .mv__txt--sub-ttl {
        font-size: 4vw;
        padding: 10px;
        margin-bottom: 0;
    }

    .mv .mv__txt .mv__txt--ttl {
        font-size: 8vw;
    }

    .block01 {
        padding: 40px 0;
    }

    .h3__ttl {
        font-size: 5vw;
    }

    .block01 .block01__list {
        justify-content: center;
    }

    .block02 {
        padding: 40px 0 0;
    }

    .block02 .block02__cnt {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-bottom: 40px;
    }

    .block02__cnt .block02__cnt--img {
        width: 100%;
    }

    .block02 h3 {
        font-size: 5vw;
    }

    .block03 {
        padding: 40px 0 0;
    }

    .block03 .service__list {
        padding-bottom: 40px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .service__list .service__item {
        width: 100%;
        justify-content: center;
    }

    .service__list .service__item .service__item--img {
        width: 45px;
    }

    .service__list .service__item .service__item--txt {
        flex: unset;
        text-align: center;
    }

    .block04 {
        padding: 40px 0;
    }

    .block04 .block04__layout--l h3 {
        font-size: 5vw;
    }

    .block04 .h3__ttl::before {
        width: 70px;
    }

    .block04 .block04__layout {
        flex-wrap: wrap;
    }

    .block04 .block04__layout--l {
        width: 100%;
    }

    .block04 .block04__layout--r {
        width: 100%;
    }

    .block04 .block04__layout--r .form__contact {
        flex-wrap: wrap;
    }

    .block04__layout--r .form__contact .form__contact--l {
        width: 100%;
    }

    .block04__layout--r .form__contact .form__contact--r {
        justify-content: center;
        align-items: center;
    }

    .form__contact .form__contact--field input[type="submit"] {
        margin-top: 0;
    }

    .footer .footer__cnt .footer__cnt--copyright {
        font-size: 14px;
        text-align: center;
    }

    .footer .footer__cnt {
        justify-content: center;
    }

    .footer .footer__cnt .footer__cnt--sitemap {
        display: none;
    }

    .to_top {
        right: 10px;
    }
}